<div id="pins" class="pins">
  <%@pins.each do |pin| %>
    <%=render :partial => 'title/pin', :locals => { :pin => pin } %>
  <%end%>
</div>

<script type="text/javascript">
  $(pins_mansory);
</script>
